.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(220, 220, 220);
}

.form-container {
  background: #fff;
  border-radius: 5px;
  padding: 20px 50px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 15px 16px .17px rgba(0,0,0,0.05);
}

h1 {
  text-align: center;
}